<!-- <div class="footer">
	<div class="container">
		<div class="col-md-6 about">
			<h3 class="text-center">关于我们</h3>	
			<p>温州众游网络科技有限公司，一家新兴朝气蓬勃的网络科技公司，立志成为中国户外活动联盟与主题旅游的第一平台。本公司位于温州经济技术开发区，交通便利，工作环境优越。员工平均年龄25岁，是90后实现梦想与抱负的人生舞台，期待你带着热诚加入我们！！</p>
		</div>
		<div class="col-md-3 address">
			<h3 class="text-center">联系我们</h3>
			<ul>
				<li><span></span>Moonshine St. 14/05 Light, Jupiter</li>
				<li><span class="ph-no"></span>+00 (123) 456 78 90</li>
				<li><span class="mail"></span><a href="mailto:example@mail.com">mail@example.com</a></li>
			</ul>
		</div>
		<div class="col-md-3 posts">
			<h3 class="text-center">微信公众号</h3>
			<p class="text-center">
				<img src="images/weixin.jpg" width="150">
			</p>
		</div>
		<div class="clearfix"> </div>
	</div>
</div> -->
<div class="copy-right">
	
		<p>Copyright &copy; 2016 温州众游网络科技有限公司 </p>
	
</div>
<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>