#detail
{height:400px;}
#spec-bd
{display:none;}

#spec-bd
{padding:10px}
#addspec,#multispec
{margin-bottom:5px;}
#spec-table
{width:100%;border-top:1px solid #ccc;border-left:1px solid #ccc;}
#spec-table td,#spec-table th
{border-right:1px solid #ccc;border-bottom:1px solid #ccc;text-align:center;}
.delspec
{decoration:none;}

.defaultimage
{border:1px solid red;}
.caption
{text-align:center;}